<!-- THEME OPTIONS -->
{% assign MyCasesSort = false %} <!-- All cases load on my case index page and our sortable -->
{% assign IndexLayout = "Grid" %} <!-- Layout Functionality: Topics, Grid, List -->
{% assign SkipPreCreate = false %} <!-- Enable skip precreate site wide (email,chat, question) -->
{% assign responsiveImages = true %} <!-- Endable/Disable respnsive image functionality within the article body section -->
<!-- MULTIBRAND OPTIONS -->
{% assign MBSearchPage = false %} <!--Enables multibrand search page - all results/brands on one page -->
{% assign MBSearchExcludeQuestions = false %} <!-- exclude questions, should only enable if MBSearchPage = true -->
{% assign MBSearchSuggest = false %} <!-- Multibrand search autocomplete similar to desk's support site -->
{% assign MBArticleSuggest = false %} <!-- Multibrand Article suggestion on email/chat/question forms -->


<!-- LOGO WIDTH TESTING // DONT REMOVE-->
{% if desk.page.theme.logo-img != "" %}
  {% assign logowidth = desk.page.theme.logo-img-width | plus: 0 %}
  {% if logowidth > 300 %}
    {% assign widelogo = true %}
  {% else %}
   {% assign widelogo = false %}
  {% endif %}
{% endif %}

{% capture sidebar_main %}
    <!-- BEGIN MAIN SIDEBAR -->
      <div id="sidebar" class="col-md-4 {% if desk.page.theme.layout != 'left' %}left col-md-pull-8{% endif %}">
        {% if site.questions_enabled_config or desk.apps.get_satisfaction.enabled or  site.email_enabled_config or site.chat_enabled_config or site.phone_enabled_config %}
          <h2>
            {{system.snippets.contact_us}}
          </h2>
          <ul>
            {% if site.questions_enabled_config %}
            <li>
              <a href='{{desk.system.links.question}}'>{{system.snippets.post_public_question}}<i class="fa fa-angle-right"></i></a>
            </li>
            {% endif %}

            <!-- GS -->
            {% if desk.apps.get_satisfaction.enabled %}
            <li>
              <a id='gs_link' target='_blank'>{{system.snippets.ask_community}}<i class="fa fa-angle-right"></i></a>
            </li>
            {% endif %}
            <!-- GS -->

            {% if site.email_enabled_config %}
            <li>
              <a href='{{desk.system.links.email}}'>{{system.snippets.email_us}}<i class="fa fa-angle-right"></i></a>
            </li>
            {% endif %}
            {% if site.chat_enabled_config %}
            <li>
              <a href='{{desk.system.links.chat}}'>{{system.snippets.live_chat}}<i class="fa fa-angle-right"></i></a>
            </li>
            {% endif %}
            {% if site.phone_enabled_config %}
            <li class="phone">
              <a>{{ desk.page.theme.contact_us_content }}</a>
            </li>
            {% endif %}
          </ul>
        {% endif %}
        {% if desk.apps.get_satisfaction.enabled %}
          <!-- GS -->
          <div class='gs-content'>
            <h2>{{system.snippets.recent_discussions}}</h2>
            <div id='gs_Sidebar_Results'>
              <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
            </div>
            {{gs_recent_activity_scripting}}
          </div>
          <!-- GS -->
        {% endif %}
      </div>
    <!-- END MAIN SIDEBAR -->
{% endcapture %}

{% capture sidebar_suggest %}
    <!-- BEGIN AUTO SUGGEST SIDEBAR -->
    <div id="sidebar" class="sidebar suggest col-md-4 {% if desk.page.theme.layout != 'left' %}left col-md-pull-8 {% endif %}">
      <div id="common">
        {% if page == "question_new" %}
          <h2>{{ system.snippets.related_questions }}</h2>
        {% else %}
          <h2>{{ system.snippets.related_answers }}</h2>
        {% endif %}
          <h4>{{ system.snippets.start_typing }}</h4>
      </div>
      {% if MBArticleSuggest == true %}
        <div class="autosuggest multi-brand"></div>
      {% else %}
        <div class="autosuggest"></div>
      {% endif %}
    </div>
    <!-- END AUTO SUGGEST SIDEBAR -->
{% endcapture %}

<div id="site-wrapper" class="wrapper">
  <div id="site-canvas" class="content {{ desk.current_brand.name }}">
    <!--MOBILE SLIDEOUT MENU -->
    <div id="mobile-menu">
      <div class="search">
        <div class="row">
          <div class="col-md-12">
            <form action="/customer/portal/articles/search" method="get" id="support-search-ornot" class="support-search-small-ornot">
                {{template_form_params}}
                <button type="submit" class="fa fa-search" id="support-search-submit" value="{{system.snippets.search}}"></button>
                <input id="q2" maxlength="100" name="q" type="text" value="" class="ui-autocomplete-input-ornot form-control" autocomplete="on">
            </form>
          </div>
        </div>
      </div>
      <div class="mobile-suggest">
      </div>
      <div class="brand">
        <div class="logo">
          {% if desk.current_brand.name == nil %}
            {{ site.company_name }}
          {% else %}
             {{ desk.current_brand.name }}
          {% endif %}
        </div>
          {% if desk.page.theme.header_content == "" %}
            <h1>
              <a href="{{desk.system.links.home}}">
                {% if desk.current_brand.name == nil %}
                  {{ site.company_name }}
                {% else %}
                   {{ desk.current_brand.name }}
                {% endif %}
              </a>
            </h1>
          {% else %}
            {{ desk.page.theme.header_content }}
          {% endif %}
          {% if current_user and current_user.is_guest == false %}
                <h4 class="welcome">{{system.snippets.welcome}} <a href="{{ desk.system.links.myaccount }}"> {{ current_user.customer.name }}</a></h4>
                <a href="{{ desk.system.links.myaccount }}">{{ current_user.customer.email | gravatar_image: gravatar_unknown_user, ssl }}</a>
                <h5>{{ current_user.customer.email }}</h5>
          {% endif %}
      </div>
      <ul class="nav nav-pills nav-stacked">
          {% if site.questions_enabled_config %}
            <li>
              <a href='{{desk.system.links.question}}'>{{system.snippets.post_public_question}}<i class="fa fa-question"></i></a>
            </li>
          {% endif %}

          {% if site.email_enabled_config %}
            <li>
              <a href='{{desk.system.links.email}}'>{{system.snippets.email_us}}<i class="fa fa-envelope"></i></a>
            </li>
          {% endif %}
          {% if site.chat_enabled_config %}
            <li>
              <a href='{{desk.system.links.chat}}'>{{system.snippets.live_chat}}<i class="fa fa-comments"></i></a>
            </li>
          {% endif %}
          {% if site.phone_enabled_config %}
            <li class="phone">
              <a>{{ desk.page.theme.contact_us_content }}</a>
            </li>
          {% endif %}
          {% if site.portal_authentication_enabled_config %}
            {% if current_user and current_user.is_guest == true and page != "login" %}
              <!-- Guest -->
              <li>
                <!--<span class="desk-guestMessage">{{system.snippets.welcome_guest}}</span>-->
                <a href="{{ site.authentication_login_url }}" id="desk-auth-login-link" class="">{{system.snippets.login}}<i class="fa fa-sign-in"></i></a>
              </li>
            {% else %}
              <!-- Logged In -->
              {% if site.myportal_enabled %}
                <li>
                  <a href="{{ desk.system.links.myportal }}">{{system.snippets.my_cases}} <i class="fa fa-inbox"></i></a>
                </li>
              {% endif %}

              {% if site.portal_authentication_type_config == 'desk' %}
                <li>
                  <a href="{{ desk.system.links.myaccount }}" id="desk-myaccount-link">{{system.snippets.my_account}} <i class="fa fa-user"></i></a>
                </li>
              {% endif %}

              {% if site.portal_logout_enabled_config %}
                <li>
                  <a href="{{ site.authentication_logout_url }}" id="desk-logout-link">{{system.snippets.logout}} <i class="fa fa-sign-out"></i></a>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if langs_list %}
            <li id="desk-mobile-lang-list"></li>
          {% endif %}
      </ul>
    </div>
    <!--MOBILE HEADER/TOPBAR -->
    <div id="mobileHeader">
      <div class="row">
        <div class="col-xs-2">
          <a id="MobileToggle" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="col-xs-8">
          {% if desk.page.theme.header_content == "" %}
              {% if desk.current_brand.name == nil %}
                {{ site.company_name }}
              {% else %}
                 {{ desk.current_brand.name }}
              {% endif %}
          {% else %}
            {{ desk.page.theme.header_content }}
          {% endif %}
        </div>
        <div class="col-xs-2">
            <!-- {{ current_user.customer.email | gravatar_image: gravatar_unknown_user, ssl }} -->
        </div>
      </div>
    </div>
    <!-- DESKTOP HEADER -->
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="{% if widelogo == true %} col-md-12 {% else %} col-md-5 {% endif %}">
              {% if desk.page.theme.header_content == "" %}
              <h1>
                <a href="{{desk.system.links.home}}">
                  {% if desk.current_brand.name == nil %}
                    {{ site.company_name }}
                  {% else %}
                     {{ desk.current_brand.name }}
                  {% endif %}
                </a>
              </h1>
              {% else %}
                {{ desk.page.theme.header_content }}
              {% endif %}
          </div>
          <div class="{% if widelogo == true %} col-md-12 {% else %} col-md-7 {% endif %}">
            <ul class="nav nav-pills">

              {% if site.portal_authentication_enabled_config %}
                <!-- Guest -->
                {% if current_user and current_user.is_guest == true  and page != "login" %}
                  <li>
                    <a href="{{ site.authentication_login_url }}" id="desk-auth-login-link" class="">{{system.snippets.login}}</a>
                  </li>
                {% endif %}
                <!-- Logged In -->
                {% if current_user and current_user.is_guest == false %}
                  <li class="desk-guestMessage"><p>{{system.snippets.welcome}} {{ current_user.customer.name }}</p></li>

                  {% if site.myportal_enabled %}
                    <li>
                      <a href="{{ desk.system.links.myportal }}">{{system.snippets.my_cases}} </a>
                    </li>
                  {% endif %}
                  {% if site.portal_authentication_type_config == 'desk' %}
                    <li>
                      <a href="{{ desk.system.links.myaccount }}" id="desk-myaccount-link">{{system.snippets.my_account}}</a>
                    </li>
                  {% endif %}
                  {% if site.portal_logout_enabled_config %}
                    <li>
                      <a href="{{ site.authentication_logout_url }}" id="desk-logout-link">{{system.snippets.logout}}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endif %}
              {% if langs_list %}
                 <li>
                      {{langs_list}}
                 </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div><!-- Container Desktop -->
    </div><!-- #desk-header -->

    <!-- SEARCH -->
    {% if page == "myportal_index" or page == "myaccount" or page == "login" or page == "registration" or page == "authentication_verification" or page == "forgot_password" or page == "authentication_verification" %} {% else %}
        <div id="search" class="hidden-phone">
          <div class="container">
            <div class="row">
              {{ search_form_begin }}
              <div class="col-md-12">
                {{template_form_params}}
                {% if MBSearchSuggest == true %}
                  <input type="text" id="qMB" name="q" maxlength="100" value="" placeholder="{{system.snippets.have_a_question}}" class="input form-control" autocomplete="off" />
                {% else %}
                  <input type="text" id="q" name="q" maxlength="100" value="" placeholder="{{system.snippets.have_a_question}}" class="input form-control" />
                {% endif %}
                  <button type="submit" class="fa fa-search" id="support-search-submit" value="{{system.snippets.search}}"></button>
              </div>
              {{ search_form_end }}
            </div>
          </div><!-- Search Container -->
        </div><!-- #desk-search -->
        <div id="SearchAutoSuggest" class="ui-multi-brand"></div>
    {% endif %}
    <!-- END SEARCH -->
    <!-- BREADCRUMBS -->
    {% if page  != "page_index" %}
        <div id="breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <ol class="breadcrumb">
                    {% if page  == "page_index" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a></li>
                    {% elsif page == "page_article" %}
                      {% if article %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb"><a href="{{ topic.public_articles_url }}" title="{{ topic.name }}">{{ topic.name }}</a> </li>
                        <li class="active crumb" title="{{ article.subject_plain }}">{{ article.subject_plain }}</li>
                      {% else %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb active">{{system.snippets.article_translation_missing}}</li>
                      {% endif %}
                    {% elsif page == "page_topic" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        {% if topic %}
                        <li class="crumb active">{{ topic.name }}</li>
                        {% endif %}
                    {% elsif page == "page_search_result" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb">{{system.snippets.search}} </li>
                        <li class="active crumb" title="{{ search_term }}">{{ search_term }}</li>
                    {% elsif page == "question_show" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb"><a href="{{ question.topic.public_questions_url }}" title="{{ question.topic.name }}">{{ question.topic.name  | clip:30 }}</a> </li>
                        <li class="active crumb" title="{{ question.subject }}">{{ question.subject | clip:30 }}</li>
                    {% elsif page == "question_new" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb" title="{{ article.subject_plain }}">{{system.snippets.post_public_question}}</li>
                    {% elsif page == "question_pre_create" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb"><a href='{{desk.system.links.question}}'>{{system.snippets.post_public_question}}</a> </li>
                        <li class="active crumb">{{system.snippets.post_public_question}}</li>
                    {% elsif page == "email_new" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb" title="{{ article.subject_plain }}">{{system.snippets.email_us}}</li>
                    {% elsif page == "email_pre_create" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> &rsaquo; {{system.snippets.email_us}}</li>
                    {% elsif page == "email_submitted" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb">{{system.snippets.email_us}}</li>
                    {% elsif page == "chat_new" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb" title="{{system.snippets.live_chat}}">{{system.snippets.live_chat}}</li>
                    {% elsif page == "chat_pre_create" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb">{{system.snippets.live_chat}}</li>
                    {% elsif page == "myportal_index" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb">{{desk.system.snippets.my_cases}}</li>
                    {% elsif page == "myportal_show" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        {% if desk.customer.can_access_company_tickets? %}
                        <li class="crumb"><a href='{{ desk.system.links.myportal }}'>{{ desk.page.content.case.customer.name }}</a></li>
                        {% endif %}
                        <li class="crumb"><a href='{{ desk.system.links.myportal }}'>{{desk.system.snippets.my_cases}}</a> </li>
                        <li class="active crumb">{{desk.page.content.case.subject | clip:30 }}</li>
                    {% elsif page == "login" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb active">{{desk.system.snippets.login_title}}</li>
                    {% elsif page == "registration" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb"><a href='{{ site.authentication_login_url }}'>{{desk.system.snippets.login_title}}</a> </li>
                        <li class="crumb active">{{desk.system.snippets.registration_title}}</li>
                    {% elsif page == "forgot_password" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="crumb"><a href='{{desk.system.links.login}}'>{{desk.system.snippets.login_title}}</a> </li>
                        <li class="crumb active">{{desk.system.snippets.password_reset_title}}</li>
                    {% elsif page == "myaccount" %}
                        <li class="crumb"><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> </li>
                        <li class="active crumb">{{desk.system.snippets.account_title}}</li>
                    {% elsif page == "authentication_verification" %}
                        <li><a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a> &rsaquo; {{desk.system.snippets.auth_verification_title}}</li>
                    {% endif %}
                  </ol>
              </div>
            </div>
          </div>
        </div><!-- #breadcrumbs -->
    {% endif %}
    <!-- END BREADCRUMBS -->
    {{desk:body}}
  </div>
  <!-- END CONTENT -->
</div> <!-- Wrapper -->
<div id="footer">
  <div class="container">
      <div class="row">
        {{ desk.page.theme.footer_content }}
      </div>
      <div class="row attribution">
        <div class="col-md-12">
          <!--
          ***************
          The following attribution needs to remain as is in terms of wording with the appropriate link back to desk.com as per our terms of service: http://www.desk.com/terms
          If you would like, you may change the location or the styling to better match your site, but the content and the link must remain in the template and visible to end users.
          ****************
          -->
          <div id="desk-attribution"><a href="http://www.desk.com/">Customer service software <span>powered by Desk.com</span></a></div>
        </div>
      </div>
  </div>
</div><!-- #desk-footer -->

{% if just_moderated %}
  <div id="Moderated" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="PreCreateModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h2>
                  <h1>{{system.snippets.your_post_submitted}}</h1>
              </h2>
              <p class="subheader">{{system.snippets.not_shown_until_reviewed}}</p>
          </div>
            <div class="modal-body moderated">
             <div id='form'>
                <div class='input-button'>
                  <input id='moderation_okay_button'  name='commit' type='submit'  value='{{system.snippets.okay}}' />
                  <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display: none; margin: 7px 0 0 5px; position: absolute;'/>
                </div>
              </div>
            </div>
        </div><!-- MODAL CONTENT -->
      </div><!-- MODAL DIALOG /  MODAL LG -->
  </div><!-- #Moderated -->
{% endif %}

<!-- Facebook Like Button -->
<div id="fb-root"></div>
<!-- External Variables for Portal Header -->
<div id="desk-external-variables-header" class="desk-external-variables" style="display:none;">
  <div id="system_language">{{system.language}}</div>
  <div id="results_mobile">{{system.snippets.results_found_for | replace: 'for', '' }}</div>
  <div id="read_only">{{read_only}}</div>
  <div id="system-snippets-do_these_help">{{system.snippets.do_these_help}}</div>
  <div id="site-default_mailbox">{{site.default_mailbox}}</div>
  <div id="desk_javascript_host">{{desk_javascript_host}}</div>
  <div id="twitter_enabled">{{desk.apps.twitter.enabled}}</div>
  <div id="twitter_username">{{desk.apps.twitter.username}}</div>
  <div id="system-snippets-loading">{{system.snippets.loading}}</div>
  <div id="system-snippets-seconds_ago">{{system.snippets.seconds_ago}}</div>
  <div id="system-snippets-a_minute_ago">{{system.snippets.a_minute_ago}}</div>
  <div id="system-snippets-minutes_ago">{{system.snippets.minutes_ago}}</div>
  <div id="system-snippets-an_hour_ago">{{system.snippets.an_hour_ago}}</div>
  <div id="system-snippets-hours_ago">{{system.snippets.hours_ago}}</div>
  <div id="system-snippets-a_day_ago">{{system.snippets.a_day_ago}}</div>
  <div id="system-snippets-days_ago">{{system.snippets.days_ago}}</div>
  <div id="system-snippets-about">{{system.snippets.about}}</div>
  <div id="enable_gs">{{desk.apps.get_satisfaction.enabled}}</div>
  <div id="system-snippets-invalid_characters_found">{{system.snippets.invalid_characters_found}}</div>
  <div id="site-search_autocomplete_articles_url">{{site.search_autocomplete_articles_url}}</div>
  <div id="search-term">{{search_term}}</div>
  <div id="read-article">{{ system.snippets.read_article }}</div>
  {% if desk.apps.get_satisfaction.enabled %}
    <div id="system-snippets-get_satisfaction_error">{{system.snippets.get_satisfaction_error}}</div>
    <div id="system-snippets-view_all">{{system.snippets.view_all}}</div>
    <div id="system-snippets-no_related_discussions">{{system.snippets.no_related_discussions}}</div>
    <div id="system-snippets-related_discussions">{{system.snippets.related_discussions}}</div>
    <div id="zero0">{{0}}</div>
    <div id="system-snippets-discussions">{{system.snippets.discussions}}</div>
    <div id="system-snippets-replies">{{system.snippets.replies}}</div>
    <div id="system-snippets-questions">{{system.snippets.questions}}</div>
    <div id="system-snippets-ideas">{{system.snippets.ideas}}</div>
    <div id="system-snippets-problems">{{system.snippets.problems}}</div>
    <div id="system-snippets-praise">{{system.snippets.praise}}</div>
  {% endif %}
</div>
<div id="ThemeOptions" class="hidden" style="display:none;">
  <div id="header_text">{{desk.page.theme.hdr-text-color}}</div>
  <div id="current-page">{{ page }}</div>
  <div id="brand_id">{{ desk.current_brand.id }}</div>
  <div id="site-brands">
    {% for brand in desk.brands %}
       <div id="{{brand.id}}">{{brand.name}}</div>
    {% endfor %}
  </div>
  {% if SkipPreCreate == true %}
    <div id="SkipPreCreate">true</div>
  {% endif %}
  {% if MBSearchPage == true %}
    <div id="MBSearchPage">true</div>
    <div id="results-count">{{ number_search_results }}</div>
  {% endif %}
  {% if MBSearchSuggest == true %}
    <div id="MBSearchSuggest">true</div>
  {% endif %}
  {% if MBArticleSuggest == true %}
    <div id="MBArticleSuggest">true</div>
  {% endif %}
  {% if responsiveImages == true %}
    <div id="responsiveImages">true</div>
  {% endif %}
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//desk-customers.s3.amazonaws.com/v10/js/desk.portal.js" type="text/javascript"></script>
